<div *ngIf = 'newTask'>
  <h3>Edit this pet</h3>
  <form  (submit)="editSomething(id)" class="postForm">
    <label>Pet name:
        <input type="text" name="newTask.name" [(ngModel)] ="newTask.name"/>
      </label>
      <label>Pet type:
        <input type="text" name="newTask.type" [(ngModel)] ="newTask.type"/>
      </label>
      <label>Description:
        <input type="text" name="newTask.description" [(ngModel)] ="newTask.description"/>
      </label>
      <label>Skills:
        <ul>
          <li>Skill 1:
            <input type="text" name="newTask.skill1" [(ngModel)] ="newTask.skill1" />
          </li>
          <li>Skill 2:
            <input type="text" name="newTask.skill2" [(ngModel)] ="newTask.skill2"/>
          </li>
          <li>Skill 3:
            <input type="text" name="newTask.skill3" [(ngModel)] ="newTask.skill3"/>
          </li>
        </ul>
      </label>
    
      <input type="submit" value="Edit pet" /> <button [routerLink]="['/pets']">Cancel</button>
  
  </form>
    
  </div>






